.container-options {
  background-color: violet;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
}

.for-text {
  list-style: armenian;
  list-style: circle;
  list-style: disc;
  list-style: none;

  list-style-type: disc;
  list-style-type: circle;
  list-style-type: disc;
  list-style-type: none;

  box-shadow: 1px 1px 1px red;
}
